<div>
    <div ng-show="!course.slackConfig" class="well">
        <strong>Note:</strong> You must be the team owner or team administrator to add K Groups to your Slack team.<br/><br/>
        <a href="https://slack.com/oauth/authorize?scope=incoming-webhook,commands,bot&client_id=199576980864.200343140805&state={{course._id}}"><img alt="Add to Slack" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png" srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x" /></a>
    </div>

    <button class="btn btn-default" ng-show="course.slackConfig">Sync Membership with Slack</button>

</div>