<div ng-repeat="c in clusters">
    === Cluster ===
    <table class="table table-bordered table-condensed">
        <tr ng-repeat="u in c">
            <td>{{u.owner}}</td>
            <td ng-repeat="t in u.tasks">
                <i ng-show="t.status==='Not Started'" class="fa fa-square-o"></i>
                <i ng-show="t.status==='In Progress'" class="fa fa-star"></i>
                <i ng-show="t.status==='Completed'" class="fa fa-check"></i>
            </td>
        </tr>
    </table>
</div>
<div ng-show="clusters.length<1">
    <span class="text-muted">There are currently no clusters for your team. Team members must fill out their course progress in order for clusters to begin forming.</span>
</div>